@charset "utf-8";
html {
    background-color: #F0DFB4;
    a:hover {
        opacity: 0.5;
    }
}

h1, h2, p, span, table {
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

ul li {
    list-style: none;
}

body h2 {
    font-weight: 800;
    font-size: 1.3em;
    white-space: nowrap;
}

@media (min-width:767px) {
    .sp {
        display: none;
    }
    .profile-sp {
        display: none;
    }
}

$black:#020202;
$red:#DB2F2D;
@mixin font($color:#020202, $fWeight:800){
    color:$color;
    font-weight: $fWeight;
}


/*ヘッダー*/

header {
    background-color: #fff;
    z-index: 99;
    position: relative;
    padding: 10px 5%;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 2em;
        }
        li {
            margin-right: 3%;
        }
        & li:last-child{
            margin-right: 0;
        }
    }
}

@media (max-width:767px) {
    header {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
        nav{
            h1 img {
                width: 550px;
            }
            ul li:first-child {
                margin-right: 40%;
            }
        }
    }
}

.post-prof {
    display: flex;
    align-items: center;
    height: 90px;
    background: #fff;
}

@media (min-width:767px) {
    header nav{
        ul li:first-child {
            margin-right: 70%;
        }
        h1 img {
            width: 350px;
        }
    }
    article {
        display: flex;
        flex-direction: row;
        padding: 5% 10% 0 5%;
        width: 100%;
        position: relative;
        align-items: baseline;
    }
}

/*プロフィール PC*/
.profile-pc {
    order: 1;
    top: 0;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    margin-left: 5%;
    width: 33%;
    white-space: nowrap;
    table {
        color: #8E8E8E;
    }
    th {
        font-weight: 400;
    }
    .bold {
        font-weight: 800;
    }
    .black {
        @include font();
    }
}


.post-prof img {
    border-radius: 50%;
    max-width: 70px;
    margin-left: 2%;
    margin-right: 5%;
}

@media (min-width:767px) {
    .profile-pc{
        table {
            width: 100%;
            text-align: center;
            padding: 2%;
        }
        tr {
            border-bottom: 1px #707070 solid;
            height: 65px;
            &:last-child {
                border-bottom: 0;
            }
        }
        .count {
            max-height:195px;
        }
        .post-count {
            border-left: 10px #32AC4F solid;
            max-height:195px;
            & th:last-child {
                padding-right: 5%;
            }
        }
        .follow-count {
            border-left: 10px #FAED33 solid;
            & td:last-child{padding-right: 6%;}
        }
        .follower-count {
            border-left: 10px $red solid;
            & td:last-child{padding-right: 6%;}
        }
        .post-prof {
            border-radius: 15px;
        }
    .post .post-prof {
        border-radius: 6px 6px 0 0;
    }
}
}

/*プロフィール スマホ*/
@media (max-width:767px) {
    .profile-sp {
        background-color: #fff;
        padding: 30px 0;
        .black {
            @include font();
        }
        .bold{font-weight: 800;}
        ul {
            color: #8E8E8E;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                width: 25%;
                margin-left: 5%;
                text-align: center;
                line-height: 1.8;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}


/*投稿*/

.main {
    width: 72%;
}
.post {
    background: linear-gradient(90deg, #32AC4F 0%, #32AC4F 33.3%, #FAED33 33.3%, #FAED33 66.6%, $red 66.6%, $red 100%);
    margin-bottom: 5%;
}


/*投稿　ヘッダー*/

.post{
    .post-prof {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2%;
        width: 100%;
    }
    .post-img {
        display: flex;
        align-items: center;
        img {
            border-radius: 50%;
            max-width: 70px;
            margin-left: 2%;
            margin-right: 10%;
        }
    }
    i {
        font-size: 2em;
        &:hover {
            cursor: pointer;
        }
    }
    .photo {
        width: 100%;
    }
    .comment {
        background: #fff;
        padding: 1%;
        margin: 2%;
    }
}

.post-icon{
    margin: 2%;
        display: flex;
        align-items: center;
        white-space: nowrap;
        color: #fff;
    div:first-child {
        margin-right: 3%;
    }
    div p {
        font-weight: bold;
        span {
            margin-left: 8px;
        }
}
}

@media (min-width:767px) {
    .post-wrapper {
        width: 100%;
    }
    .post {
        border-radius: 15px;
        border: 10px solid $black;
    }
}

@media (max-width:767px) {
    .post {
        width: 100%;
        border-top: 10px solid $black;
        border-bottom: 10px solid $black;
    }
    .main{width: 100%;}
}


/*ポップアップ*/
.popup-wrap{ 
    .bold {
    border-bottom: 1px #707070 solid;
    margin: 15px 0;
    font-weight: 800;
}
input {
    display: none;
}
.popup-overlay {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
}
.popup-trigger {
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup-content {
    position: relative;
    align-self: center;
    width: 90%;
    max-width: 800px;
    padding: 30px 40px;
    box-sizing: border-box;
    background: #fff;
    line-height: 1.8em;
    transition: 0.5s;
    text-align: justify;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
    line-height: 14px;
    font-weight: bold;
    i {
        color: $black;
    }
}
input:checked~.popup-overlay {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}
input:checked~.popup-overlay .popup-content {
    transform: translateY(50px);
}
.open-btn {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn {
    color: $red;
}
}